<h1>Edit <%= cryptid.name %> </h1>

<form action="/cryptids/<%= cryptidIndex %>/?_method=PUT" method="POST">
    <label for="name">Name: 
        <input type="text" name="name" id="name" value="<%= cryptid.name %>">
    </label>

    <label for="img_url">Image Url: 
        <input type="text" name="img_url" id="img_url" value="<%= cryptid.img_url %>">
    </label>

    <input type="submit" value="Edit <%= cryptid.name %>">
</form>